<div class="container d-flex align-items-center header">
  <div class="content-img">
    <picture>
      <a href="#">
        <img
          src="../../../../assets/img/logo/logo.png"
          alt="Kobolg-img"
          class="logo"
        />
      </a>
    </picture>
  </div>
  <div class="content-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Element</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Pages</a></li>
    </ul>
  </div>
  <div class="icons-section">
    <button class="btn-icons btn">
      <img src="../../../../assets/img/others/user.png" alt="user-icon" />
    </button>
    <button class="btn-icons btn">
      <img
        src="../../../../assets/img/others/car-shop.png"
        alt="car-shop-icon"
      />

      <span>3</span>
    </button>
    <button class="btn-lang">
      <img src="../../../../assets/img/lang/spanish.png" alt="Lang" />
    </button>
  </div>
</div>
